body {
    padding: 0 1rem 1rem 1rem;
}

.kb-container {
    margin: auto;
    padding: 2rem;
    width: 65rem
}

.current-config {
    display: grid;
    grid-template-columns: 20rem 20rem 20rem 20rem;
    margin: auto;
    padding: 2rem 0rem 1rem 30rem;
    justify-content: center;
}

.dropdown-container {
    display: flex;
    justify-content: center;
}