$glass: rgba(255, 255, 255, 0.2);
$glass-icon: rgba(255, 255, 255, 0.3);
$gradient: linear-gradient(35deg, red, purple);
$option: #320a28;
$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;

body {
  background: $gradient;
}

.list-maker {
  display:grid;
  justify-content: center;
  margin: auto;
}

/* <select> styles */
select {
  /* Reset */
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  /* Personalize */
  width: 20em;
  height: 3em;
  padding: 0 4em 0 1em;
  color: black;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  /* <option> colors */

  /* Remove focus outline */
  &:focus {
    outline: none;
  }
  /* Remove IE arrow */
  &::-ms-expand {
    display: none;
  }
}

button {
  align-items: center;
}

.item-category {
  padding: 1rem 0
}

.add-item-button {
  background-color: #78d0dd;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 1.75px solid;
  padding: 0.25em 0.5em;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.add-item-button:active {
  box-shadow: 0px;
  top: 2px;
  left: 2px;
}

.item-remove:hover{
    cursor: pointer;
    color:#C89CC1;
    transition: .3s ease;
}

@media (min-width: 768px) {
  .add-item-button {
    padding: 0.25em 0.75em;
  }
}

.disabled {
  background-color: #9b9b9b;
}

.form_label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.default {
  font-style: italic
}