.navbar {
    display: flex;
    padding:  1rem 1rem 1rem 2rem;
    flex-direction: column;
    flex-wrap: wrap;
}

a {
    padding-left: 4rem;
}

.navbar-links p:hover{
    color:#fff;
    transition: .3s ease;
}

.navbar-links_container {
    display: flex;
}

.navbar-links {
    display:flex;
    transition: .3s ease;
    align-items: flex-end;
}

.navbar-links_container p,
.navbar-menu_container p {
    color: #000;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 116.19%;
    text-transform: capitalize;
    letter-spacing: 0.05em;
    cursor: pointer;
    float:right;
    clear:both;
}

.makelist_img img,
.search_img img,
.user_img img {
    width: 45px;
    height: 45px;
    flex: 0 0 0;
    vertical-align: bottom;
    display: inline-block;
}

.home {
    align-items: flex-start;
    padding: 1rem 0 0 1rem;
}

.home p {
    color: #722C66;
    font-size: 48px;
}

.show {
    display: block;
    transition: 800ms;
    opacity: 1;
}

.show.active {
    transform: translateY(100px) scale(0);
    opacity: 0;
}