.kbpp__navbar {
    display: flex;
    align-items: center;

    padding:  .5rem 3rem 1rem 2rem;
}

.kbpp__navbar-links {
    flex: 1;
    display: flex;
    align-items: center;
    transition: .6s ease;
}

.kbpp__navbar-links p:hover{
    border-bottom: 2px solid #000;
    padding: 0;
}

.kbpp__navbar-links_container {
    display: flex;
}


.kbpp__navbar-links_container p,
.kbpp__navbar-menu_container p {
    justify-content: flex-end;
    color: #000;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 116.19%;
    text-transform: capitalize;
    letter-spacing: 0.05em;
    margin: 2.5rem 2rem 0 3.5rem;
    cursor: pointer;
    display: inline-block;
}

.kbpp__makelist_img img,
.kbpp__search_img img,
.kbpp__user_img img {
    width: 55px;
    height: 55px;
    margin-top: 1.5rem;
    vertical-align:bottom;
    display: inline-block;
    position: fixed;
}

.kbpp__home p {
    color: #722C66;
    font-size: 48px;
    justify-content: flex-start;
    margin-top: 1.5rem;
    box-sizing: border-box;
}

.show {
    display: block;
    transition: 800ms;
    opacity: 1;
}

.show.active {
    transform: translateY(100px) scale(0) rotateY(180deg);
    opacity: 0;
}