.navbar {
    display: flex;
    padding:  0 8rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar p:hover{
    color:#C89CC1;
    transition: .3s ease;
}

.navbar p::after {
    display: block;
    content: '';
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;

}

.navbar p:hover::after {
    width: 100%;
    transition: width .3s;
}

.navbar-links {
    display: flex;
    margin-top: .4rem;
    align-items: flex-end;
    gap: 2rem;
}

.navbar p {
    color: #000;
    margin-top: .75rem;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 116.19%;
    text-transform: capitalize;
    letter-spacing: 0.05em;
    cursor: pointer;
    float:right;
}

.makelist_img img,
.search_img img,
.user_img img {
    width: 45px;
    height: 45px;
    flex: 0 0 0;
    vertical-align: text-bottom;
}

.home p {
    align-items: flex-start;
    color: #540C49;
    font-size: 36px;
}