
.paging-container {
    font-family: var(--font-family);
    color: black;
    display:grid;
    justify-items:center;
    grid-column: auto;
    column-gap: 1%;
    
}

 table {
  margin: auto;
  width: 50rem;
  border-collapse: collapse;
}

tr {
  border-color: black;
  border-bottom: 1px solid;
}

.column-name > td {
  font-weight: 600;
}

.item-name > a {
  color: #78d0dd
}

.item-name > a:hover {
  color: white;
  transition: .3s ease;
}

.item-image {
  width: 10%;
}

.item-image img {
  height: 100%;
  width: 100%;
  
}

.item-name {
  font-weight: 501;
  padding-left: 1rem;
  width: 45%
}

.item-size {
  padding: 0 1rem
}

.item-price {
  text-align: end;
  padding-right: 1rem;
}

.list-item {
    margin: auto
}

.pageNumbers {
    list-style: none;
    display: flex;
  }
  
.pageNumbers li {
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.pageNumbers li.active {
  background-color: white;
}

.pageNumbers li button {
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.pageNumbers li button:hover {
  background-color: white;
  color: black;
}
.pageNumbers li button:focus {
  outline: none;
}