
.login-form{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-right: 12rem;
  align-items: center;
  font-family: var(--font-family);
}

.form-box{
  opacity: 1;
  background: black;
  padding-right: 80px;
  padding-left: 80px;
  border-radius: 20px;
}

.login-text{
  width: 100%;
  color: white;
  border-bottom: 2px solid white;
  line-height: 30px;
  width: 100%;
  font-weight: bolder;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

label {
  color:white;
  width: 100%;
  text-align: center;
}

.login-box{
  border: 1px solid lightgrey;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 2px;
  padding-left: 10px;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 5px;
  font-family: var(--font-family);
  font-size: 11pt;
  background: transparent;
  transition: 1s;
  outline: none;
  background: radial-gradient(
      ellipse at left bottom,
      rgba(22, 24, 47, 1) 0%,
      rgba(38, 20, 72, 0.9) 59%,
      rgba(17, 27, 75, 0.9) 100%
    );
    box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.login-btn{
  width: 75%;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  border-radius: 20px;
  border: none;
  font-size: 15pt;
  font-weight: 700;
  font-family: var(--font-family);
  transition: 1s;
  outline: none;
  cursor: pointer;
  margin-bottom: 20px;
}

p span {
  color: yellow;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

button {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #603bbb;
  cursor: pointer;
}

.errorMessage {
  color: red;
}

.signInUpToggle {
  display: flex;
  color: #fff;
  align-items: center;
}

.show {
  display: block;
  transition: .15s;
  opacity: 1;
}

.show.active {
  transform: translateY(100px) scale(0);
  opacity: 0;
}